body {
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
	overflow-x: hidden;
}

.elements .woman {
	position: absolute;
	width:634px;
}
.elements .green{
	position: absolute;
	left:0px;
	top:180px;
	width:190px;
}

.elements .red {
	position: relative;
	right:350px;
	top:730px;
}

.elements .pink {
	position: relative;
	top:940px;
	left:470px;
}
.container {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	position:absolute;
	width:1050px;
	margin-left:-50px;

}




header {
	display:flex;
	align-items: flex-start;
	justify-content: center;
}

header .headlogo {
	margin-right:160px;
	position:relative;
	bottom:30px;
}
header .headlogo #logo {
	position:relative;
	top:43px;
	left:25px;

}
header .headlogo #name {
	font:25pt Playfair Display;
	letter-spacing: 3px;
}
header nav ul {
	display:flex;
	list-style: none;
	position:relative;
	top:50px;
	right:15px;
}
header nav ul li a {
	margin:0 15px;
	font:12pt Roboto;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color:black;
	transition:0.2s;
}
header nav ul li a:hover {
	color:#ff817e;
}


/*





*/

.banner {
	position:relative;
	display:flex;
	flex-direction: column;
	width:680px;
	margin-top:20px;
}

.banner .text {
	display:flex;
	flex-direction: column;
}

.banner .text #title {
	color:#ff817e;
	text-transform: uppercase;
	font:13pt Rufina;
	letter-spacing: 2px;
}

.banner .text #name {
	font:53pt Rufina;
	font-weight: bold;
	text-align:justify;
	margin-top:5px;
	color:#1e2528;
}

.banner .text #info {
	font:13pt Roboto;
	color:#555555;
	line-height: 1.5;
	margin-top:-35px;
}

.banner .btn {
	margin-top:20px;
	display:flex;
}

.banner .btn #reserve {
	padding:20px;
	padding-left:40px;
	padding-right:40px;
	background:#ff817e;
	font:11pt Roboto;
	color:white;
	text-transform: uppercase;
	font-weight: bolder;
	transition: 0.2s;
	cursor: pointer;
}

.banner .btn #reserve:hover {
	color: #1e2528;
}

.banner .btn .video  {
	display:flex;
	align-items: center;
	margin-left:50px;
}

.banner .btn .video i{
	color:#ff817e;
	position: relative;
	top:4px;
	right:4px;
}

.banner .btn .video a {
	font:13pt Roboto;
	margin:0 10px;
	transition: 0.3s;
	color:#555555;
	text-decoration:none;
}

.banner .btn .video a:hover {
	color:#ff817e;
	cursor:pointer;
}

/*




*/


.about {
	text-align:center;
	margin-top:210px;
	width:1100px;
}

.about #title {
	margin-top:30px;
	font:15pt Roboto;
	color:#888888;
	text-transform: uppercase;
}

.about #name {
	margin-top:30px;
	color:#1e2528;
	font:35pt Rufina;
	font-weight: bold;
}

.about #info {
	margin-top:30px;
	font:12pt Roboto;
	font-weight: lighter;
	color: #888888;
	width:900px;
	padding-left:130px;
	line-height: 1.5;
}

.about .button {
	margin-top:80px;
}

.about #btn {
	
	padding:20px;
	background:#ff817e;
	padding-left:40px;
	padding-right:40px;
	border-radius: 40px;
	text-transform: uppercase;
	color:white;
	font: 11pt Roboto;
	cursor:pointer;
	transition: 0.2s;
}

.about #btn:hover {
	color: #1e2528;
}

/*




*/

#features  {
	margin-top:130px;
	min-width:100vw;
    margin-right:0;
    flex-wrap:wrap;
	position: relative;
	left:17px;
	align-self: center;
	
}

.slide-one .box {
	background:#ff817e;
}
.slide-one .owl-item {

}

.slide-one .owl-item:hover {
	opacity:0.3;
}

.slide-one p#text {
	position:relative;
	bottom:30px;
}
/*


*/
.service {
	width:1050px;
	margin-top:60px;
}

.service .title {
	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;	
}


.service .title .name {
	font:40pt Rufina;
	font-weight: bolder;
	color:#263a41;
}

.service .title .info {
	font:13pt Roboto;
	font-weight:lighter;
	width:750px;
	margin-top:-25px;
	color: #888888;
	align-self:center;
}

.service .container1 {
	display:flex;
	text-align:justify;
	text-align-last:center;
	margin-top:50px;
}

.service .container1 .box {
	border:1px solid #e3e6ea;
	margin:0 10px;
	padding:20px;
	width:288px;
	transition:1s;
}

.service .container1 .box img {
	width:288px;
}

.service .container1 .box .name {
	font:20pt Rufina;
	font-weight: bolder;
	color:#263a41;

}

.service .container1 .box .info {
	margin-top:30px;
	font:12pt Roboto;
	font-weight: lighter;
	color:#888888;
	line-height: 1.5;
}

.service .container1 .box .btn {
	font:12pt Roboto;
	color:white;
	background:#282828;
	border-radius:20px;
	width:130px;
	padding:10px;
	margin:0 auto;
	margin-top:40px;
	cursor:pointer;
	transition:0.1s;
}

.service .container1 .box:hover {
	box-shadow: 0 0 9px 4px rgba(221, 221, 221, 1);

}

.service .container1 .box:hover  .btn {
	background: #ff817e;
}


/*




*/
#testimonials {
	
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	margin-top: 80px;
	background:#fff9f8 repeat;
	padding-top:50px;
	padding-bottom: 120px;
	width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    margin-bottom: 30px;
    min-width: 0;


}


#testimonials .feedback {
	position:relative;
	left:50%;
}

#testimonials .feedback .response {
	margin-top:50px;
	text-align:justify;
	text-align-last:center;
	font:14pt Rufina;
	color:#263a41;
	line-height: 1.5;
	padding-bottom: 30px;
	width:850px;
	align-self:center;
	margin-left:auto;
	margin-right:auto;
}

#testimonials img {
	width:60px;
	margin:0 auto;
}

#testimonials .info {
	align-self: center;
}
#testimonials .feedback .info #name {
	font:20pt Rufina;
	color:#263a41;

}

#testimonials .feedback .info #job {
	font:13pt Roboto;
	font-weight: lighter;
	color:#263a41;
} 

.owl-dot {
	  height: 25px;
	  width: 25px;
	  border-radius: 50%;
}


/*


*/


.team {
	margin-top:30px;
	width:1050px;
	display:flex;
	flex-direction: column;
	text-align:center;
	justify-content: center;
	align-items: center;
}

.team .name {
	font:40pt Rufina;
	font-weight: bolder;
	color:#263a41;
}

.team .info {
	margin-top:-10px;
	font:13pt Roboto;
	font-weight: lighter;	
	color:#888888;
	width:900px;
	line-height: 1.5;
}

.team .workers {
	display:flex;
	justify-content: center;
	margin-top:40px;

}

.team .workers .box {
	margin:0 5px;
	position: relative;
}
.team .workers img {
	width:100%;
}

.team .workers img #joseph {
	width:80%;
}

.team .workers .personal {
	padding-top:5px;
	position: absolute;
	bottom:-25px;
	background:white;
	width:100%;
	margin: 0 auto;
	height:80px;
	-webkit-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
	padding-bottom: 15px;
	overflow:hidden;
	transition:0.5s;
	z-index:100000;

}

.team .workers .box:hover .personal{
	height:140px;
}


.team .workers .personal #name {
	font:20pt Rufina;
	font-weight: bolder;
	color:#263a41;
}

.team .workers .personal #job {
	margin-top:-25px;
	font:12pt Roboto;
	font-weight: lighter;
	color:#888888;
}

.team .workers .personal .social {
	display:flex;
	justify-content: center;
	align-items: center;
	padding-bottom:-5px;
}
.team .workers .personal i {
	border:1px solid black;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	margin:0 8px;
	padding:5px;
	line-height: 1.25;
}

/*




*/

.appointment {
	margin-top:100px;
	display:flex;
	justify-content: center;
	width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background:#fff9f8;
}

.appointment img {
	position:relative;
	left:33px;
	height:493px;
	width:680px;
}


.appointment form {
	margin-left:150px;
	margin-top:40px;
	width:650px;
	margin-right: 150px;
}
.appointment form div{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-row-gap: 50px;
}

.appointment form input {
	border:none;
	border-bottom:1px solid silver;
	margin:0 5px;
	width:300px;
	background:none;
}

.appointment form input.note {
	width:620px;
	margin-bottom:70px;
	padding-top:5px;
	padding-bottom: 70px;
	margin-top: 20px;
}

.appointment form input.info {
	padding:12px 0;
}

.appointment form input.submit {
	background:#ff817e;
	text-transform: uppercase;
	font:12pt Roboto;
	width:auto;
	padding:15px 20px;
	border-radius: 25px;
	color:white;
	transition: 0.3s;
	cursor:pointer;
}

.appointment form input.submit:hover {
	color:#212529;
}

/*





*/


.blog {
	width:1050px;
	margin-top:60px;
	margin-left:0;
}

.blog .title {
	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;	
}


.blog .title .name {
	font:40pt Rufina;
	font-weight: bolder;
	color:#263a41;
}

.blog .title .info {
	font:13pt Roboto;
	font-weight:lighter;
	width:750px;
	margin-top:-25px;
	color: #888888;
	align-self:center;
}

.blog .container1 {
	display:flex;
	text-align:justify;
	text-align-last:center;
	margin-top:50px;
}

.blog .container1 .box {
	border:1px solid #e3e6ea;
	margin:0 10px;
	padding:20px;
	width:288px;
	transition:1s;
}

.blog .container1 .box img {
	width:288px;
}

.blog .container1 .box .name {
	font:20pt Rufina;
	font-weight: bolder;
	color:#263a41;

}

.blog .container1 .box .info {
	margin-top:30px;
	font:12pt Roboto;
	font-weight: lighter;
	color:#888888;
	line-height: 1.5;
}

.blog .container1 .box .btn {
	font:12pt Roboto;
	color:white;
	background:#282828;
	border-radius: 20px;
	width:130px;
	padding:10px;
	margin:0 auto;
	margin-top:40px;
	cursor:pointer;
	transition:0.2s;
}

.blog .container1 .box:hover {
	box-shadow: 0 0 9px 4px rgba(221, 221, 221, 1);

}

.blog .container1 .box:hover  .btn {
	background: #ff817e;
}

/*


*/

.content {
	width:1050px;
	margin-top:50px;
}

.content .title {
	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;	
}


.content .title .name {
	font:40pt Rufina;
	font-weight: bolder;
	color:#263a41;
}

.content .title .info {
	font:12pt Roboto;
	font-weight:lighter;
	width:750px;
	margin-top:-25px;
	color: #888888;
	align-self:center;
}

.content .touch {
	display:flex;
	margin-top:70px;
}

.content .touch address {
	width:45%;
	display:grid;
	margin-left:90px;
	height:200px;
}

.content .touch address .box {
	height:50px;
}

.content .touch form {
	width:55%;
	display:flex;
	flex-direction: column;
	margin-right:130px;
}

.content .touch form input.text {
	margin-bottom:20px;
	height:40px;
	border:1px solid #e3e6ea;
	padding-left:20px;
}

.content .touch form input.submit {
	text-align: center;
	text-transform: uppercase;
	font:11pt Roboto;
	width:150px;
	padding:15px 30px;
	background:#ff817e;
	color:white;
	border:none;
	border-radius: 25px;
	margin-top:20px;
}

.content .touch form input#comment {
	height:90px;
	padding-top:0;
}

.content .touch address .box .info {
	position: relative;
	left:50px;
	bottom:50px;
	font:12pt Roboto;
	line-height: 0.5;
	color:#888888;
	margin-left:30px;

}

.content .touch address .box  i {
	width:16px;
	height:16px;
	padding:14px;
	background:#ff817e;
	border-radius: 50px;
	color:white;
}

footer {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background:#fff9f8;
    padding-top:100px;
    margin-top:50px;
    padding-bottom:50px;

}


footer .headlogo {
	
	position:relative;
	bottom:30px;
	left:12px;
}
footer .headlogo #logo {
	position:relative;
	top:43px;
	left:25px;

}
footer .headlogo #name {
	font:25pt Playfair Display;
	letter-spacing: 3px;
}

footer nav ul {
	display:flex;
	list-style: none;
	margin-top:-30px;
}
footer nav ul li a {
	margin:0 25px;
	color:#34474d;
	font:12pt Roboto;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color:black;
	transition:0.2s;
}
footer nav ul li a:hover {
	color:#ff817e;
}

footer .social {
	display:flex;
}

footer .social i {
	margin:0 10px;
	border-right:1px solid silver;
	padding-right:10px;
	color:#34474d;
	margin-top:25px;
}

footer .copyright {
	margin-top:40px;
	color:#888888;
	font:11pt Roboto;
}

footer .copyright span a{
	color:#ffa19f;
	text-decoration: none;
	text-transform: uppercase;
	font:11pt Roboto;
}

